@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use 'sass:map';


.timerTime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: map.get(v.$font-fam, 'timer');
  user-select: none; // Prevent text from blocking cursor interactions

  // Proportional font sizing relative to the circle height (15% of circle's 50vh / 35vh height)
  font-size: 7.5vh;
  user-select: none;
  font-weight: 300;

  @include m.mq('phone') {
    font-size: 5.25vh;
  }
}

.timerControl {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 10vh;
  gap: 1.5vh;

  @include m.mq('phone') {
    width: 10.5vh;
    gap: 1vh;
  }

  .timerButton {
    cursor: pointer;
    width: 5vh;
    height: 5vh;

    @include m.mq('phone') {
      width: 3.5vh;
      height: 3.5vh;
    }

    &:hover {
      filter: brightness(2);
    }
  }
}