// Note: Reuseable style blocks
@use './variables' as v;

// Media Query:
@mixin mq ($device) {
  @if $device =='desktop' {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $device =='tablet' {
    @media (min-width: v.$bp-tablet) and (max-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $device =='phone' {
    @media (max-width: v.$bp-tablet) {
      @content;
    }
  }
}

@mixin flex-center ($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}